.mgBottom0 {
    margin-bottom: 0 !important;
}

.mgBottom1 {
    margin-bottom: 1em !important;
}

.mgBottom2 {
    margin-bottom: 2em !important;
}

.mgTop0 {
    margin-top: 0 !important;
}

.mgTop1 {
    margin-top: 1em !important;
}

.mgTop2 {
    margin-top: 2em !important;
}